.Title-con{
     width: 100%;
     margin-bottom: 20px;
}
.Title-img{
     width: 60%;
}

.home-search{
     background: transparent;
     width: 60%;
     border: 2px solid white;
     color: white;
     border-radius: 20px;
     padding: 13px;

     font-size: 22px;
}


.form-control:focus{
     background: transparent;
     color: white;
     border-color: white;
}
.form-control::placeholder{
     color: white;
}

.myform.btn{
     color: white;
     border: 2px solid white ;
     border-radius: 20px;
     margin: -1px;
     
}
.btn:hover{
     color: white;
     
}
.myform{
     display: flex;
     justify-content: center;
}
.home {
     margin-top: 130px;
 }