.navbar {
  background-color: transparent;
}
body {
  background: url('./Pages/Assets/Konachan.com\ -\ 199470\ bicycle\ clouds\ dress\ haraguroi_you\ night\ original\ scenic\ sky\ stars\ water.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100%;
  
}